body {
    padding-top: 5rem;
}




h3 {
    color:#FF4136;
}
.info {
    text-align: center;
    color: #FF4136;
}

.container1{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    
    
}

.start {
    background:#FFDC00;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0px;
}

.pic {;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0px;
    
    text-align: center;
}

img {
    border-radius: 200px;
}

.words{
    float:left;
    margin: 0px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom:50px;
    border: solid 1px;
    border-color: #FF4136;
    
}


.words h2{
    margin-top: 0px;
    padding-top: 25px;
    color: #FF4136;
    padding-left: 50px;
}

.num{
    padding-top: 30px;
    padding-left: 50px;
}


.num h1{
    display: inline;
    margin-left: 140px;
    color: black;
       
}

.num h3{
    display: inline;
    color: darkgrey;
    margin-left: 105px
    
}


.adjust{
    margin-bottom: 0px;
    padding-bottom: 15px;
}

.button {
    background-color:#4ee041;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 140px;
    height: 0px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
    
}

.central {
    text-align: center;
    padding-top: 30px;
}